body {
    background-color: #e0e03d;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #2c3e50;
    padding: 10px;
}
  
h1 {
    color: #2c3e50;
    font-size: 48px;
    margin-top: 20px;
}
 
p {
    font-size: 20px;
    color: #34495e;
    margin: 20px;
}